.wrapper {
  flex: 1;
}

h1 {
  border-bottom: 2px solid #1a5276;
  font-family: 'Times New Roman', Times, serif;
  color: #2c3e50;
  margin-bottom: 2rem;
}

#map {
    height: 40vh;
    width: 60%;
    margin: 4rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    justify-content: center;
}

.big-tooltip {
  background-color: #fff !important;
  border: 2px solid #1a5276 !important;
  border-radius: 12px !important;
  padding: 10px 15px !important;
  font-size: 1.6rem !important;
  font-weight: bold !important;
  color: #1a5276;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.edu-container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.edu-logo {
  width: 10vw; 
  height: 8vh; 
  object-fit: contain;
  margin-right: 2rem;
}

.edu-card {
  background: #fff;
  border-radius: 12px;
  width: 100%;
  padding: 25px 30px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.edu-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  margin-bottom: 1rem;
}


h2 {
  margin: 0;
  color: #1a5276;
}

.edu-header span {
  font-size: 3rem;
  color: #555;
  display: block;
  margin-top: 5px;
}

.activities {
  margin-top: 0.5rem;
  font-size:3rem;
  color: #555;
}