body {
  font-family: Arial, sans-serif;
  line-height: 1.8;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  text-align: left;
}

.job {
  margin-bottom: 30px;
}

.task {
  margin-left: 20px;
}
