footer {
  background-image: url("../assets/postcard.png");
  background-repeat: repeat;
  background-position: center;
  background-size: clamp(400px, 50%, 500px);
  color: black;
  font-family: 'Georgia', serif;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(139, 0, 0, 0.2);
  min-height: 40vh;
  gap: 100px;
  padding: 4rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  background-color: white;
  padding: 0.5rem;
  max-width: 250px;
  border-radius: 15px;
}

.profile-pic img {
  display: block;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-info {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  border-radius: 15px;
}

.contact-item {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap; /* Prevents text from wrapping to a second line */
}

footer a:hover {
  text-decoration: underline;
  color: rgb(120, 0, 0);
}

.bottom {
  text-align: center;
  font-size: 0.5rem;
  background-color: white;
  padding: 10px 0;
}

/* Updated Media Query */
@media (max-width: 900px) {
  .container {
    gap: 40px;
  }

  .about, .contact {
    max-width: 100%;
    min-width: unset;
  }

  .contact-item {
    white-space: nowrap; 
  }
}