footer {
  background-image: url("../assets/postcard.png");
  color: black;
  font-family: 'Georgia', serif;
  width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 10vh 10%;
  border-bottom: 2px solid rgba(139, 0, 0, 0.2);
}

.about {
  min-width: 450px;
  max-width: 600px;
  background-color: white;
  padding: 1rem;
  line-height: 1.5;
}

.profile-pic img {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid white;
}

.contact {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-info {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.contact-item {
  display: flex;
  gap: 0.5rem;
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
}

footer a:hover {
  text-decoration: underline;
  color: rgb(120, 0, 0);
}

.bottom {
  text-align: center;
  font-size: 2rem;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

@media (max-width: 900px) {
  .about {
    min-width: 100%;
    max-width: 100%;
  }

  .contact {
    min-width: 100%;
  }

  .contact-item {
    white-space: normal;
  }
}