/*tiny details*/
.indent{
  text-indent: 0.5rem;
}
/*aesthetic stuff*/
.wrapper {
  padding-top: 9vh;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

html{
  overflow-x: hidden;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f8f9fc;
  color: #333;
  font-size: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 1.5rem;
  color: #1f2937;
}

h3{
  font-size: 1.25rem;
  color: #374151;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

.italics{
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;
}

span {
  display: flex;
  white-space: pre;
}

.intro{
  font-family: "Georgia", serif;
  font-size: 1rem;
  font-style: italic;
  color: #333;
  border-left: 4px solid #4f46e5; 
  padding: 0.5rem;
  background-color: #f9fafb;
  width: auto;
}

.date {
  font-size: 1rem;
}

img {
  max-height: 40vh;
  width: auto;
  padding: 0.5rem;
}
/*typewriter stuff*/
.typewriter-container {
  cursor: pointer;
}
.cursor {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bolder;
  color: red;
  animation: blink 0.8s infinite;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}