/*tiny details*/
.indent{
  text-indent: 2rem;
}
/*aesthetic stuff*/
.wrapper {
  margin: 9vh 2rem 2rem 2rem;
  padding: 2rem;
  max-width: 100%;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f8f9fc;
  color: #333;
  font-size: 1.8rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 8rem;
  padding: 1rem;
}

h2{
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #1f2937;
}

h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #374151;
}

p {
  margin: 0.5rem 0;
  line-height: 1.6;
  font-size: 3rem;
  padding: 0.5rem;
}

.italics{
  font-size: 3rem;
  margin: 0.5rem 0;
  line-height: 1.6;
  font-style: italic;
}

span {
  display: flex;
  white-space: pre;
}

.intro{
  font-family: "Georgia", serif;
  font-size: 3rem;
  font-style: italic;
  color: #333;
  border-left: 12px solid #4f46e5; 
  padding: 3rem;
  background-color: #f9fafb;
  width: auto;
}

.date {
  font-size: 3rem;
}

img {
  max-height: 40vh;
  width: auto;
  padding: 0.5rem;
}
/*typewriter stuff*/
.typewriter-container {
  cursor: pointer;
}
.cursor {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bolder;
  color: red;
  animation: blink 0.8s infinite;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}