:root {
  --on-select-color: rgb(170,247,89);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(167, 211, 212);
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  z-index: 1000;
  list-style: none;
}

ul.navbar li {
  flex: 1;
  height: 100%;
}

ul.navbar li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  text-decoration: none;
  color: inherit;
}

ul.navbar li a .icon {
  width: auto;
  height: 7vh;
  object-fit: contain;
  display: block;
}

ul.navbar li a .label {
  display: none;
}

ul.navbar li a:hover .label {
  display: inline;
}

ul.navbar li a:hover .icon {
  display: none;
}

ul.navbar li a:hover {
  background-color: var(--on-select-color);
  color: black;
}