:root {
  --on-select-color: rgb(170,247,89);
  --navbar-height: 8vh; /* use viewport height for consistent offset */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(167, 211, 212);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  z-index: 1000;
  list-style: none;
}

ul.navbar li {
  flex: 1;
  height: 100%;
}

ul.navbar li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  text-decoration: none;
  color: inherit;
}

ul.navbar li a .icon {
  width: auto;
  height: 100%;
  object-fit: contain;
  display: block;
}

ul.navbar li a .label {
  display: none;
}

ul.navbar li a:hover .label {
  display: inline;
}

ul.navbar li a:hover .icon {
  display: none;
}

ul.navbar li a:hover {
  background-color: var(--on-select-color);
  color: black;
}