body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #f8f9fa;
  color: #333;
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title{
  height: 30vh;
}

.year-section {
  margin: 1rem auto;
  max-width: 100%;
  padding: 1rem;
}

.date {
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
}

.painting-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
}

.painting-grid a {
  display: block;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
}

.painting-grid a:hover {
  transform: scale(1.03);
}

.painting-grid img {
  height: 30vh;
  width: auto;
  object-fit: contain;
  display: block;
  border-radius: 6px;
}

#lightbox-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#lightbox-modal.show {
  opacity: 1;
  pointer-events: auto;
}

#lightbox-image {
  max-width: 85vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transition: transform 0.2s ease;
  image-rendering: auto;
  transform: scale(1);
}

#lightbox-caption {
  display: none;
}

#lightbox-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem; 
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
  z-index: 1001;
  line-height: 1;
}
#lightbox-close:hover { color: #ff6961; }

.lightbox-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; 
  height: 80px;
  cursor: pointer;
  z-index: 2005;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-arrow::after {
  content: '';
  width: 15px;
  height: 15px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  display: block;
}

#lightbox-prev { left: 10px; }
#lightbox-prev::after {
  transform: rotate(-135deg);
}

#lightbox-next { right: 10px; }
#lightbox-next::after {
  transform: rotate(45deg);
}

.lightbox-arrow:hover::after {
  border-color: #ff6961;
}

.lightbox-arrow:hover { color: #ff6961; }

@media (max-width: 600px) {
  #lightbox-image {
    max-width: 90vw;
    max-height: 70vh; 
  }
  
  .lightbox-arrow {
    width: 40px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}