h1{
    font-family: 'Courier New', Courier, monospace;
}

.typewriter-container{  
  background-color: rgb(247, 216, 186);
}
.typewriter-container p{
  max-width: 100%;
  margin-bottom: 4rem;
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
}
.project {
  margin: 4rem auto;
  max-width: 100%;
  padding: 0 2rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 2rem;
}